<nav class="navbar navbar-expand-lg navbar-light navegador ">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="100" height="100" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto " *ngIf="user; else menuLogin">
            <li class="nav-item mr-5">
                <a class="nav-link sombra-link" routerLink="/">Home</a>
            </li>

            <li class="nav-item mr-5">
                <a class="nav-link sombra-link" *ngIf="this.user.role =='ROLE_ADMIN'" routerLink="/crearSerie">Crear
                    serie</a>
            </li>
            <li class="nav-item mr-5">
                <a class="nav-link sombra-link" routerLink="/directorioSeries">Directorio</a>
            </li>

            <li class="nav-item mr-5">
                <a class="nav-link sombra-link" routerLink="/actualizarUser">Actualizar usuario</a>
            </li>
            <li class="nav-item mr-5">
                <a class="nav-link sombra-link" (click)="destroySession()">Cerrar sesión</a>
            </li>

        </ul>
        <span class="form-inline" *ngIf="user;">
            Hola {{this.user.firstName}}
        </span>
        <ng-template #menuLogin>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registrarUsuario">Registrar usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
                </li>
            </ul>
        </ng-template>
    </div>
</nav>