<div class="container">
    <h2> Subir nuevo episodio </h2>

    <form [formGroup]="capForm" (ngSubmit)="registerCap()" enctype="multipart/form-data">

        <div class="form-group">
            <label for="seriesId">Nombre Serie</label>
            <input id="seriesId" name="seriesId" formControlName="seriesId" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="capName">Nombre Capitulo</label>
            <input id="capName" name="capName" formControlName="capName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="capNumber">Numero del capitulo</label>
            <input id="capNumber" name="capNumber" formControlName="capNumber" type="number" class="form-control">
        </div>

        <div class="form-group">
            <label for="duration">Duración</label>
            <input id="duration" name="duration" formControlName="duration" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="file"> Archivo del capitulo </label>
            <input id="file" name="file" formControlName="file" type="file" (change)="prepareCap($event)"
                class="form-control">
        </div>

        <div
            *ngIf="!capForm.get('capName').valid || !capForm.get('duration').valid  || !capForm.get('file').valid || !capForm.get('capNumber').valid">
            <div class="text-danger">
                Debes llenar todos los campos
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-info"> Enviar </button>
        </div>

    </form>
</div>